{% extends '@App/frontend_base.html.twig' %}

{% block title %}OGSales{% endblock %}

{% block body %}
    <div class="container">
        {% include 'partials/product/_pagination.html.twig' %}
    </div>
{% endblock %}
